# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcworkspace
*.xcodeproj
*.workspace

# Compiled source files
*.pyc
*.pyo

# Visual Studio
.vs/
*.user

# JetBrains Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Keep Content and Config tracked
!Content/
!Config/
